.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.900879;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.024902;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.084000px;}
._11{width:2.112000px;}
._5{width:27.310000px;}
._2{width:43.300000px;}
._1{width:44.700000px;}
._3{width:46.100000px;}
._4{width:47.500000px;}
._6{width:75.697482px;}
._7{width:77.097498px;}
._15{width:85.119969px;}
._14{width:150.548122px;}
._d{width:170.596122px;}
._16{width:305.296122px;}
._13{width:426.327969px;}
._b{width:451.548122px;}
._12{width:623.672122px;}
._f{width:700.600122px;}
._a{width:714.223969px;}
._10{width:764.491969px;}
._c{width:777.783969px;}
._18{width:787.176122px;}
._e{width:796.599969px;}
._9{width:850.288122px;}
._17{width:883.175969px;}
._8{width:971.599969px;}
.fc3{color:rgb(201,160,87);}
.fc2{color:rgb(178,208,180);}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(61,55,46);}
.fs13{font-size:40.000000px;}
.fsd{font-size:42.680004px;}
.fs12{font-size:44.000000px;}
.fs11{font-size:52.000000px;}
.fs10{font-size:54.000000px;}
.fse{font-size:56.000000px;}
.fsf{font-size:58.000000px;}
.fs9{font-size:64.000000px;}
.fsb{font-size:68.000000px;}
.fsa{font-size:70.000000px;}
.fs2{font-size:72.000000px;}
.fs8{font-size:74.000000px;}
.fs5{font-size:76.000000px;}
.fs4{font-size:78.000000px;}
.fs7{font-size:80.000000px;}
.fs6{font-size:82.000000px;}
.fs1{font-size:96.000000px;}
.fsc{font-size:112.000000px;}
.fs3{font-size:136.000000px;}
.fs14{font-size:188.000000px;}
.fs0{font-size:208.000000px;}
.y0{bottom:0.000000px;}
.y4{bottom:34.198051px;}
.y1c{bottom:34.852402px;}
.y65{bottom:43.061951px;}
.y3f{bottom:48.102676px;}
.y53{bottom:48.740433px;}
.y3c{bottom:49.782295px;}
.y48{bottom:57.707863px;}
.y63{bottom:58.352873px;}
.y1b{bottom:63.652403px;}
.y87{bottom:64.016645px;}
.y50{bottom:64.480339px;}
.y60{bottom:64.754873px;}
.y3{bottom:66.598051px;}
.y3e{bottom:67.302677px;}
.ye{bottom:67.569504px;}
.y52{bottom:67.940434px;}
.y66{bottom:67.940450px;}
.y7d{bottom:69.211624px;}
.y25{bottom:70.764359px;}
.y62{bottom:71.156874px;}
.ya6{bottom:74.048080px;}
.y47{bottom:76.907867px;}
.y5f{bottom:77.558874px;}
.ya0{bottom:80.674789px;}
.yb2{bottom:80.810074px;}
.y46{bottom:82.417862px;}
.y71{bottom:83.319603px;}
.y61{bottom:83.960875px;}
.y3d{bottom:86.502679px;}
.y51{bottom:87.140435px;}
.y7f{bottom:87.581192px;}
.yb4{bottom:92.185999px;}
.y98{bottom:92.511093px;}
.y2{bottom:93.997402px;}
.y73{bottom:94.119591px;}
.y33{bottom:104.448074px;}
.y70{bottom:104.919603px;}
.y7c{bottom:107.713943px;}
.y86{bottom:110.225203px;}
.y9f{bottom:110.914810px;}
.y97{bottom:114.080093px;}
.ya5{bottom:116.448074px;}
.yd{bottom:117.489487px;}
.y24{bottom:117.798630px;}
.y64{bottom:119.229980px;}
.yb1{bottom:120.650070px;}
.y15{bottom:123.648087px;}
.y42{bottom:124.617081px;}
.y96{bottom:128.480087px;}
.y4a{bottom:134.222328px;}
.y5e{bottom:140.296041px;}
.y7e{bottom:140.848068px;}
.yb0{bottom:142.490051px;}
.y7b{bottom:142.513962px;}
.y41{bottom:143.817081px;}
.y3a{bottom:143.818410px;}
.y39{bottom:145.181198px;}
.y32{bottom:146.848083px;}
.y1a{bottom:147.981186px;}
.y95{bottom:148.880081px;}
.yb3{bottom:148.998798px;}
.y1{bottom:151.642815px;}
.y9e{bottom:151.824219px;}
.y5d{bottom:153.100042px;}
.y49{bottom:153.422333px;}
.y23{bottom:154.924362px;}
.y14{bottom:156.048080px;}
.y85{bottom:156.433760px;}
.y35{bottom:156.848083px;}
.ya4{bottom:158.848068px;}
.y40{bottom:163.017083px;}
.y94{bottom:163.280090px;}
.yaf{bottom:164.330048px;}
.yc{bottom:167.409485px;}
.y6e{bottom:169.920982px;}
.y7a{bottom:177.106644px;}
.y31{bottom:179.248077px;}
.y72{bottom:180.721092px;}
.y93{bottom:183.680099px;}
.y19{bottom:183.981186px;}
.y22{bottom:184.564362px;}
.y5c{bottom:188.279417px;}
.y13{bottom:188.448074px;}
.y34{bottom:189.248077px;}
.y6d{bottom:191.520983px;}
.y59{bottom:194.681417px;}
.y92{bottom:198.080109px;}
.y38{bottom:198.448074px;}
.y5b{bottom:201.083418px;}
.y45{bottom:201.131485px;}
.y56{bottom:201.136734px;}
.ya3{bottom:201.981186px;}
.y84{bottom:202.642347px;}
.y9d{bottom:202.754791px;}
.y79{bottom:202.913956px;}
.yae{bottom:204.170044px;}
.y58{bottom:207.485418px;}
.y4c{bottom:210.736732px;}
.y5a{bottom:213.887419px;}
.y21{bottom:214.204361px;}
.yb{bottom:217.329483px;}
.y91{bottom:218.751129px;}
.y44{bottom:220.331486px;}
.y55{bottom:220.336735px;}
.y30{bottom:221.648071px;}
.y2c{bottom:225.893662px;}
.yad{bottom:226.010040px;}
.y4b{bottom:229.936737px;}
.y12{bottom:231.581192px;}
.y9c{bottom:232.994781px;}
.y78{bottom:237.713959px;}
.y18{bottom:237.981186px;}
.y57{bottom:239.378967px;}
.y43{bottom:239.531487px;}
.y54{bottom:239.536736px;}
.y90{bottom:240.320129px;}
.y27{bottom:240.994843px;}
.y29{bottom:241.560196px;}
.y37{bottom:241.581192px;}
.yac{bottom:247.850037px;}
.y83{bottom:248.850935px;}
.y2b{bottom:251.813660px;}
.y8f{bottom:254.720139px;}
.ya2{bottom:255.981186px;}
.y6b{bottom:256.522484px;}
.y20{bottom:261.844360px;}
.y2f{bottom:264.048065px;}
.y26{bottom:266.914843px;}
.ya{bottom:267.249481px;}
.y6f{bottom:267.322594px;}
.y28{bottom:267.480194px;}
.y11{bottom:267.581184px;}
.yab{bottom:269.690041px;}
.y77{bottom:272.306656px;}
.y9b{bottom:273.904198px;}
.y17{bottom:273.981186px;}
.y8e{bottom:275.120132px;}
.y67{bottom:275.584473px;}
.y2a{bottom:277.733658px;}
.y6a{bottom:278.122484px;}
.y8d{bottom:289.520126px;}
.y1f{bottom:291.484352px;}
.yaa{bottom:291.530045px;}
.y82{bottom:295.059523px;}
.y36{bottom:295.581184px;}
.y76{bottom:298.113960px;}
.y2e{bottom:306.448067px;}
.y4e{bottom:308.805641px;}
.y8c{bottom:309.920120px;}
.ya1{bottom:309.981186px;}
.y9{bottom:317.169487px;}
.y10{bottom:320.848068px;}
.y8b{bottom:324.320114px;}
.y9a{bottom:324.834778px;}
.y16{bottom:327.981186px;}
.y4d{bottom:328.005646px;}
.ya9{bottom:331.370049px;}
.y75{bottom:332.913963px;}
.y1e{bottom:339.124352px;}
.y81{bottom:341.268110px;}
.y69{bottom:343.123970px;}
.y8a{bottom:344.720116px;}
.y3b{bottom:349.241486px;}
.y4f{bottom:349.929123px;}
.ya8{bottom:353.210052px;}
.y6c{bottom:353.924095px;}
.y2d{bottom:354.531296px;}
.y89{bottom:359.120117px;}
.yf{bottom:363.981186px;}
.y68{bottom:364.723970px;}
.y99{bottom:365.744200px;}
.y8{bottom:367.089489px;}
.y1d{bottom:368.764353px;}
.y74{bottom:369.051638px;}
.ya7{bottom:375.050051px;}
.y88{bottom:379.791127px;}
.y80{bottom:387.690947px;}
.y7{bottom:439.587788px;}
.y6{bottom:478.198059px;}
.y5{bottom:510.598059px;}
.h11{height:32.734375px;}
.hb{height:34.927581px;}
.h10{height:36.007812px;}
.he{height:42.554688px;}
.hf{height:42.820312px;}
.hd{height:45.828125px;}
.h12{height:47.464844px;}
.h8{height:52.375000px;}
.h4{height:55.054688px;}
.h9{height:55.648438px;}
.h3{height:58.921875px;}
.h6{height:62.195312px;}
.h7{height:65.468750px;}
.hc{height:67.105469px;}
.ha{height:77.929688px;}
.h2{height:78.562500px;}
.h5{height:94.628906px;}
.h13{height:130.810547px;}
.h1{height:144.726562px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x5{left:7.199997px;}
.x8{left:29.250000px;}
.x17{left:68.590324px;}
.x1{left:73.440002px;}
.x9{left:75.062500px;}
.x2{left:79.200012px;}
.x14{left:82.771190px;}
.x6{left:91.200012px;}
.xb{left:96.223251px;}
.x28{left:99.597866px;}
.x15{left:103.582672px;}
.x7{left:109.200012px;}
.x25{left:123.290009px;}
.xa{left:128.785751px;}
.x27{left:131.102509px;}
.x26{left:134.665009px;}
.x24{left:137.227509px;}
.x29{left:147.596680px;}
.x12{left:224.266230px;}
.x21{left:234.871080px;}
.x18{left:297.598419px;}
.xd{left:328.814430px;}
.xc{left:331.314430px;}
.x16{left:350.335968px;}
.x22{left:383.580017px;}
.x23{left:401.580017px;}
.x13{left:518.073364px;}
.x19{left:532.254130px;}
.xf{left:546.669807px;}
.x1a{left:553.065613px;}
.xe{left:567.232307px;}
.x3{left:604.050018px;}
.x4{left:701.425018px;}
.x1b{left:707.396606px;}
.x1e{left:713.711609px;}
.x1c{left:715.444397px;}
.x11{left:773.264961px;}
.x20{left:789.156702px;}
.x10{left:791.014961px;}
.x1f{left:818.626282px;}
.x1d{left:820.358887px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.445333pt;}
._11{width:2.816000pt;}
._5{width:36.413333pt;}
._2{width:57.733333pt;}
._1{width:59.600000pt;}
._3{width:61.466667pt;}
._4{width:63.333333pt;}
._6{width:100.929976pt;}
._7{width:102.796663pt;}
._15{width:113.493293pt;}
._14{width:200.730829pt;}
._d{width:227.461496pt;}
._16{width:407.061496pt;}
._13{width:568.437293pt;}
._b{width:602.064163pt;}
._12{width:831.562829pt;}
._f{width:934.133496pt;}
._a{width:952.298626pt;}
._10{width:1019.322626pt;}
._c{width:1037.045293pt;}
._18{width:1049.568163pt;}
._e{width:1062.133293pt;}
._9{width:1133.717496pt;}
._17{width:1177.567959pt;}
._8{width:1295.466626pt;}
.fs13{font-size:53.333333pt;}
.fsd{font-size:56.906672pt;}
.fs12{font-size:58.666667pt;}
.fs11{font-size:69.333333pt;}
.fs10{font-size:72.000000pt;}
.fse{font-size:74.666667pt;}
.fsf{font-size:77.333333pt;}
.fs9{font-size:85.333333pt;}
.fsb{font-size:90.666667pt;}
.fsa{font-size:93.333333pt;}
.fs2{font-size:96.000000pt;}
.fs8{font-size:98.666667pt;}
.fs5{font-size:101.333333pt;}
.fs4{font-size:104.000000pt;}
.fs7{font-size:106.666667pt;}
.fs6{font-size:109.333333pt;}
.fs1{font-size:128.000000pt;}
.fsc{font-size:149.333333pt;}
.fs3{font-size:181.333333pt;}
.fs14{font-size:250.666667pt;}
.fs0{font-size:277.333333pt;}
.y0{bottom:0.000000pt;}
.y4{bottom:45.597402pt;}
.y1c{bottom:46.469869pt;}
.y65{bottom:57.415934pt;}
.y3f{bottom:64.136902pt;}
.y53{bottom:64.987244pt;}
.y3c{bottom:66.376394pt;}
.y48{bottom:76.943817pt;}
.y63{bottom:77.803830pt;}
.y1b{bottom:84.869871pt;}
.y87{bottom:85.355527pt;}
.y50{bottom:85.973785pt;}
.y60{bottom:86.339831pt;}
.y3{bottom:88.797401pt;}
.y3e{bottom:89.736903pt;}
.ye{bottom:90.092672pt;}
.y52{bottom:90.587245pt;}
.y66{bottom:90.587266pt;}
.y7d{bottom:92.282166pt;}
.y25{bottom:94.352478pt;}
.y62{bottom:94.875832pt;}
.ya6{bottom:98.730774pt;}
.y47{bottom:102.543823pt;}
.y5f{bottom:103.411832pt;}
.ya0{bottom:107.566386pt;}
.yb2{bottom:107.746765pt;}
.y46{bottom:109.890483pt;}
.y71{bottom:111.092804pt;}
.y61{bottom:111.947833pt;}
.y3d{bottom:115.336905pt;}
.y51{bottom:116.187247pt;}
.y7f{bottom:116.774923pt;}
.yb4{bottom:122.914665pt;}
.y98{bottom:123.348124pt;}
.y2{bottom:125.329870pt;}
.y73{bottom:125.492788pt;}
.y33{bottom:139.264099pt;}
.y70{bottom:139.892804pt;}
.y7c{bottom:143.618591pt;}
.y86{bottom:146.966937pt;}
.y9f{bottom:147.886414pt;}
.y97{bottom:152.106791pt;}
.ya5{bottom:155.264099pt;}
.yd{bottom:156.652649pt;}
.y24{bottom:157.064840pt;}
.y64{bottom:158.973307pt;}
.yb1{bottom:160.866760pt;}
.y15{bottom:164.864115pt;}
.y42{bottom:166.156108pt;}
.y96{bottom:171.306783pt;}
.y4a{bottom:178.963104pt;}
.y5e{bottom:187.061389pt;}
.y7e{bottom:187.797424pt;}
.yb0{bottom:189.986735pt;}
.y7b{bottom:190.018616pt;}
.y41{bottom:191.756109pt;}
.y3a{bottom:191.757880pt;}
.y39{bottom:193.574931pt;}
.y32{bottom:195.797445pt;}
.y1a{bottom:197.308248pt;}
.y95{bottom:198.506775pt;}
.yb3{bottom:198.665064pt;}
.y1{bottom:202.190420pt;}
.y9e{bottom:202.432292pt;}
.y5d{bottom:204.133390pt;}
.y49{bottom:204.563110pt;}
.y23{bottom:206.565816pt;}
.y14{bottom:208.064107pt;}
.y85{bottom:208.578346pt;}
.y35{bottom:209.130778pt;}
.ya4{bottom:211.797424pt;}
.y40{bottom:217.356111pt;}
.y94{bottom:217.706787pt;}
.yaf{bottom:219.106730pt;}
.yc{bottom:223.212646pt;}
.y6e{bottom:226.561310pt;}
.y7a{bottom:236.142192pt;}
.y31{bottom:238.997437pt;}
.y72{bottom:240.961456pt;}
.y93{bottom:244.906799pt;}
.y19{bottom:245.308248pt;}
.y22{bottom:246.085815pt;}
.y5c{bottom:251.039223pt;}
.y13{bottom:251.264099pt;}
.y34{bottom:252.330770pt;}
.y6d{bottom:255.361310pt;}
.y59{bottom:259.575223pt;}
.y92{bottom:264.106812pt;}
.y38{bottom:264.597432pt;}
.y5b{bottom:268.111224pt;}
.y45{bottom:268.175313pt;}
.y56{bottom:268.182312pt;}
.ya3{bottom:269.308248pt;}
.y84{bottom:270.189796pt;}
.y9d{bottom:270.339722pt;}
.y79{bottom:270.551941pt;}
.yae{bottom:272.226725pt;}
.y58{bottom:276.647224pt;}
.y4c{bottom:280.982310pt;}
.y5a{bottom:285.183225pt;}
.y21{bottom:285.605815pt;}
.yb{bottom:289.772644pt;}
.y91{bottom:291.668172pt;}
.y44{bottom:293.775314pt;}
.y55{bottom:293.782313pt;}
.y30{bottom:295.530762pt;}
.y2c{bottom:301.191549pt;}
.yad{bottom:301.346720pt;}
.y4b{bottom:306.582316pt;}
.y12{bottom:308.774923pt;}
.y9c{bottom:310.659709pt;}
.y78{bottom:316.951945pt;}
.y18{bottom:317.308248pt;}
.y57{bottom:319.171956pt;}
.y43{bottom:319.375317pt;}
.y54{bottom:319.382315pt;}
.y90{bottom:320.426839pt;}
.y27{bottom:321.326457pt;}
.y29{bottom:322.080261pt;}
.y37{bottom:322.108256pt;}
.yac{bottom:330.466716pt;}
.y83{bottom:331.801247pt;}
.y2b{bottom:335.751546pt;}
.y8f{bottom:339.626851pt;}
.ya2{bottom:341.308248pt;}
.y6b{bottom:342.029978pt;}
.y20{bottom:349.125814pt;}
.y2f{bottom:352.064087pt;}
.y26{bottom:355.886457pt;}
.ya{bottom:356.332642pt;}
.y6f{bottom:356.430125pt;}
.y28{bottom:356.640259pt;}
.y11{bottom:356.774913pt;}
.yab{bottom:359.586721pt;}
.y77{bottom:363.075541pt;}
.y9b{bottom:365.205597pt;}
.y17{bottom:365.308248pt;}
.y8e{bottom:366.826843pt;}
.y67{bottom:367.445964pt;}
.y2a{bottom:370.311544pt;}
.y6a{bottom:370.829979pt;}
.y8d{bottom:386.026835pt;}
.y1f{bottom:388.645803pt;}
.yaa{bottom:388.706726pt;}
.y82{bottom:393.412697pt;}
.y36{bottom:394.108246pt;}
.y76{bottom:397.485280pt;}
.y2e{bottom:408.597422pt;}
.y4e{bottom:411.740855pt;}
.y8c{bottom:413.226827pt;}
.ya1{bottom:413.308248pt;}
.y9{bottom:422.892649pt;}
.y10{bottom:427.797424pt;}
.y8b{bottom:432.426819pt;}
.y9a{bottom:433.113037pt;}
.y16{bottom:437.308248pt;}
.y4d{bottom:437.340861pt;}
.ya9{bottom:441.826731pt;}
.y75{bottom:443.885284pt;}
.y1e{bottom:452.165802pt;}
.y81{bottom:455.024147pt;}
.y69{bottom:457.498627pt;}
.y8a{bottom:459.626821pt;}
.y3b{bottom:465.655314pt;}
.y4f{bottom:466.572164pt;}
.ya8{bottom:470.946737pt;}
.y6c{bottom:471.898794pt;}
.y2d{bottom:472.708394pt;}
.y89{bottom:478.826823pt;}
.yf{bottom:485.308248pt;}
.y68{bottom:486.298627pt;}
.y99{bottom:487.658933pt;}
.y8{bottom:489.452652pt;}
.y1d{bottom:491.685804pt;}
.y74{bottom:492.068850pt;}
.ya7{bottom:500.066734pt;}
.y88{bottom:506.388170pt;}
.y80{bottom:516.921262pt;}
.y7{bottom:586.117050pt;}
.y6{bottom:637.597412pt;}
.y5{bottom:680.797412pt;}
.h11{height:43.645833pt;}
.hb{height:46.570109pt;}
.h10{height:48.010417pt;}
.he{height:56.739583pt;}
.hf{height:57.093750pt;}
.hd{height:61.104167pt;}
.h12{height:63.286458pt;}
.h8{height:69.833333pt;}
.h4{height:73.406250pt;}
.h9{height:74.197917pt;}
.h3{height:78.562500pt;}
.h6{height:82.927083pt;}
.h7{height:87.291667pt;}
.hc{height:89.473958pt;}
.ha{height:103.906250pt;}
.h2{height:104.750000pt;}
.h5{height:126.171875pt;}
.h13{height:174.414062pt;}
.h1{height:192.968750pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x5{left:9.599996pt;}
.x8{left:39.000000pt;}
.x17{left:91.453766pt;}
.x1{left:97.920003pt;}
.x9{left:100.083333pt;}
.x2{left:105.600016pt;}
.x14{left:110.361586pt;}
.x6{left:121.600016pt;}
.xb{left:128.297668pt;}
.x28{left:132.797155pt;}
.x15{left:138.110229pt;}
.x7{left:145.600016pt;}
.x25{left:164.386678pt;}
.xa{left:171.714335pt;}
.x27{left:174.803345pt;}
.x26{left:179.553345pt;}
.x24{left:182.970011pt;}
.x29{left:196.795573pt;}
.x12{left:299.021640pt;}
.x21{left:313.161441pt;}
.x18{left:396.797892pt;}
.xd{left:438.419240pt;}
.xc{left:441.752574pt;}
.x16{left:467.114624pt;}
.x22{left:511.440023pt;}
.x23{left:535.440023pt;}
.x13{left:690.764486pt;}
.x19{left:709.672174pt;}
.xf{left:728.893077pt;}
.x1a{left:737.420817pt;}
.xe{left:756.309743pt;}
.x3{left:805.400024pt;}
.x4{left:935.233358pt;}
.x1b{left:943.195475pt;}
.x1e{left:951.615479pt;}
.x1c{left:953.925863pt;}
.x11{left:1031.019948pt;}
.x20{left:1052.208936pt;}
.x10{left:1054.686615pt;}
.x1f{left:1091.501709pt;}
.x1d{left:1093.811849pt;}
}
